/* || Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:root {
  --hero-footer-bkg: #1f2937;
  --white: #fff;
  --hero-main-text: #f9faf8;
  --hero-sub-text: #e5e7eb;
  --hero-logo-text: #f9faf8;
  --button-colour: #3882f6;
  --info-header-text: #1f2937;
  --quote-bkg: #e5e7eb;
  --quote-text: #1f2937;
}

/* || * Main */

/* Header */

header {
  align-items: center;
  background-color: var(--hero-footer-bkg);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  position: relative;
  width: 100%;
}

h1 {
  color: var(--hero-main-text);
  font-size: 1.2rem;
}

.fa-bars {
  color: var(--hero-main-text);
  font-size: 1.2rem;
}

nav {
  display: none;
}

.mobile-menu {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1.2rem;
  position: absolute;
  opacity: 0;
  top: 3.5rem;
  transition: opacity 0.1s ease-in-out;
  right: 0;
  width: 100%;
  z-index: 1;
}

.mobile-menu-unhide {
  opacity: 1;
}

a {
  color: var(--hero-footer-bkg);
  cursor: pointer;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: var(--button-colour);
}

a:active {
  opacity: 0.7;
}

/* Hero Section */

.hero-section {
  align-items: center;
  background-color: var(--hero-footer-bkg);
  display: flex;
  flex-direction: column;
  padding: 3rem 1.2rem;
}

.hero-image {
  height: auto;
  width: 24rem;
}

.hero-header {
  color: var(--hero-main-text);
  font-size: clamp(1.5rem, 1.2vw, 3rem);
  margin-block-end: 1.2rem;
}

.hero-sub-text {
  color: var(--hero-sub-text);
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  line-height: 150%;
  margin-block-end: 1.2rem;
}

.sign-up-btn {
  background-color: var(--button-colour);
  border-radius: 0.5rem;
  border: none;
  color: var(--hero-logo-text);
  font-weight: 500;
  font-size: 1.2rem;
  margin-block-end: 2.5rem;
  opacity: 0.7;
  padding: 0.8rem;
  transition: opacity 0.1s ease-in-out;
  width: 8rem;
}

.sign-up-btn:hover {
  opacity: 1;
}

.sign-up-btn:active {
  opacity: 0.7;
}

/* Info Section */

.info-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.2rem;
}

h3 {
  font-size: clamp(1.5rem, 1.2vw, 2.25rem);
  margin-block-end: 1.5rem;
}

figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-block-end: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

figure:hover {
  transform: scale(1.05);
}

.info-card-image {
  border-radius: 0.5rem;
  border: 0.2rem solid var(--button-colour);
  height: auto;
  margin-block-end: 1rem;
  width: 14rem;
}

figcaption {
  text-align: center;
  width: 60%;
}

/* Quote Section */

.quote-section {
  background-color: var(--quote-bkg);
  padding: 5rem 1.2rem;
}

.quote {
  color: var(--quote-text);
  font-size: clamp(1.2rem, 1.2vw, 2.25rem);
  text-align: center;
}

cite {
  color: var(--info-header-text);
}

/* Call to action Section */

.call-to-action-section {
  padding: 2rem 1.2rem;
}

.call-to-action-container {
  border-radius: 0.5rem;
  background-color: var(--button-colour);
  padding: 1.5rem;
}

.call-header {
  color: var(--hero-main-text);
  font-size: clamp(1.2rem, 1.2vw, 3rem);
  margin-block-end: 1rem;
}

.call-subtext {
  color: var(--hero-sub-text);
  line-height: 150%;
  margin-block-end: 1rem;
}

.call-btn {
  background-color: var(--button-colour);
  border: none;
  border-radius: 0.25rem;
  border: 0.1rem solid var(--white);
  color: var(--hero-logo-text);
  cursor: pointer;
  font-size: 1rem;
  opacity: 0.7;
  padding: 0.5rem 2rem;
}

.call-btn:hover {
  background-color: var(--white);
  color: var(--button-colour);
  opacity: 1;
}

.call-btn:active {
  opacity: 0.7;
}

/* Footer Section */

footer {
  background-color: var(--hero-footer-bkg);
  color: var(--hero-sub-text);
  padding: 1.4rem;
  text-align: center;
}

/* || Media Queries */

@media screen and (min-width: 51.25rem) {
  header {
    padding: 2rem 5rem;
  }

  .mobile-menu {
    padding: 3rem;
    top: 5rem;
  }
  .hero-section {
    padding: 5rem;
  }
  .hero-image {
    width: 40rem;
  }

  .info-section {
    padding: 5rem;
  }

  .card-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  h3 {
    margin-block-end: 3rem;
  }

  .call-to-action-container {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .fa-solid {
    display: none;
  }

  .desktop-nav {
    display: flex;
    gap: 2rem;
  }

  .desktop-nav-link {
    color: var(--hero-sub-text);
  }

  .hero-section {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 5rem;
  }

  .card-container {
    grid-template: 1fr / repeat(4, 1fr);
  }

  .call-to-action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
  }

  .call-to-action-container {
    width: 70%;
  }
}
